/* 기본설정 */

@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@700&family=Sunflower:wght@500&display=swap');

/* 나눔고딕,  주아, 선플라워
font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Sunflower', sans-serif;
 */
 
* {
    margin : 0;
    padding : 0;
}

a { 
    text-decoration: none;
    color : black;
}

a:hover {
    text-decoration : underline;
    color : aqua;
}

/* 타이틀 폰트 적용 */
.title_font {
    font-family: 'Sunflower';
}

/* header 영역 */
header {
    padding : 20px;
    border-bottom : 1px solid lightgray;
}

/* hr {
    border : 0;
    border-top : 1px solid lightgray;
    margin : 5px 0;
} */

#regFormArea>h2 {
    padding-top : 30px;
    padding-left : 38px;
}

#regFormArea table {
    padding : 10px 33px; 
    border-bottom : 1px solid lightgray;
}



/* 폼안에 있는 모든 라벨을 블록으로 잡는다 */
form label {
    display : block;
}

#regForm>table td {
    width : 150px;
    padding : 5px;
}

#regForm input[type=text],
#regForm input[type=password] {
    width : 200px;
    height : 30px;
    font-size : 1em;
    padding : 0 5px;
    margin-top : 5px;
}

/* 회원 등록 버튼 */
#regForm input[type=submit] {
    width : 50px;
    height : 34px;
    border : 1px solid gray;
    font-size : 0.9em;
    font-family: 'Sunflower';
    background-color: rgb(206, 255, 47);
    margin-top : 25px;
    cursor: pointer;
}



/* 사용자에게 보낼 메시지에 대한 처리 */
div.msg {
    margin-top : 5px;
    margin-left : 3px;
    color : rgb(0, 47, 255);
    display : none;
    font-size : 13px;
    font-weight: bold;
}


/* 회원리스트 영역 */
#listArea {
    padding : 20px 40px;
    border-bottom : 1px solid lightgray;
}

#listArea>table {
    margin : 10px 0;
    width : 100%;
    /* 테이블 전체의 outline */
    /* border : 1px solid #000; */
    border-collapse: collapse;
}

#listArea>table td, #listArea>table th {
    padding : 10px;
    border : 1px solid #AAA;
    text-align : center;
}


/* 회원 정보 수정 영역 */
/* 절대좌표 활용 : absolute */
#editFormArea {
    padding : 20px;
    width : 350px;
    border : 2px solid rgba(86, 221, 214, 0.644);
    border-radius: 10px;
    background-color: rgb(198, 233, 212);
    position : absolute;
    left : 80%;
    top : 30px;
    margin-left : -175px;
    display : none;
}

#div_header {
    border-bottom : 1px solid gray;
    overflow : hidden;
    padding-bottom : 5px;
}


/* 회원 정보 수정 문구 */
#div_header>h2 {
    float : center;
    text-align: center;
}

/* 닫기 버튼 */
#div_header>div {
    overflow : hidden;
    float : right;
    margin-right : 10px;
    margin-top : -23px;
    background-color: rgb(251, 255, 0);
    font-size : 15px;
}

#editForm {
    width : 100%;
    margin-top : 10px;
    margin-left : 15px;
}

#editForm>table td {
    padding : 3px 10px;
}

#editID, #editPW, #editrePW, #editName {
    padding-left : 5px;
    padding-right : 5px;
}
 
#editForm input[type=submit] {
    width : 100px;
    height : 30px;
    border : 1px solid gray;
    font-size : 1em;
    font-family: 'Sunflower';
    background-color: rgb(206, 255, 47);
    margin-top : 10px;
    margin-left : 100px;
    cursor: pointer;
}
