* {
    margin : 0;
    padding : 0;
    font-family: Helvetica;
    list-style : none;
    text-decoration : none;
}

/* 폰트 볼드처리 클래스 */
.fontweight_500 {
    font-weight: 500;
}

.text_center {
	text-align : center;
}


body {
    background: #f5f6f7;
}


.all_wrap {
    width : 500px;
    height: 100%;
    margin : 0 auto;
}



/* 상단 로고 */
.logo {
    width : 100%;
    text-align : center;
    margin-bottom : 40px;
    margin-top : 70px;
}

.logo>img {
    height : 30px;
}

#table {
	width : 100%;
}