@charset "UTF-8";


*{
	margin : 0;
	padding : 0;
}

header {
	padding : 10px;
}

nav>ul {
	overflow : hidden;
	list-style : none;	
}

nav>ul>li {
	float : left;
	width : 100px;
	text-align : center;
	height : 35px;
	line-height : 35px;
	
}